---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.orcid %}
  <div class="wordwrap">
    You can also find all my publications on 
    <a href="{{site.author.orcid}}">my ORCID profile</a>. Selected publications shown below.
  </div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      
      <!-- Publication Information -->
      <h3>{{ post.title }}</h3>
      <p><strong>Published:</strong> {{ post.date | date: "%B %d, %Y" }} <br />
      <strong>Journal:</strong> {{ post.venue }}</p>  <!-- Updated from "Venue" to "Journal" -->
      
      <!-- Summary -->
      <p><strong>Summary:</strong> {{ post.excerpt }}</p>  <!-- Updated from "Excerpt" to "Summary" -->
      
      <!-- Link to the full paper -->
      <p><a href="{{ post.paperurl }}">See here for more</a></p>
      
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    
    <!-- Publication Information -->
    <h3>{{ post.title }}</h3>
    <p><strong>Published:</strong> {{ post.date | date: "%B %d, %Y" }} <br />
    <strong>Journal:</strong> {{ post.venue }}</p>  <!-- Updated from "Venue" to "Journal" -->
    
    <!-- Summary -->
    <p><strong>Summary:</strong> {{ post.excerpt }}</p>  <!-- Updated from "Excerpt" to "Summary" -->
    
    <!-- Link to the full paper -->
    <p><a href="{{ post.paperurl }}">See here for more</a></p>
    
  {% endfor %}
{% endif %}
